/* IMPORTS */

/* importando a fonte  */

@font-face {
   font-family: HelvetiHand;
   src: url('../fonts/HelvetiHand.ttf');
}

p {
  font-family: HelvetiHand;
}

/* IMPORT PARA PAPEL DE RASCUNHO - nao estou usando agora  */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);






/* CSS para descriçao do personagem - personalizando text area  */

/* remove barra de rolagem  */
textarea {
overflow:auto;
}

/* desabilita resize do text area */
textarea {
resize:none;

}

textarea{  
/* box-sizing: padding-box; */
overflow:hidden;
/* demo only: */
padding:10px;
width:250px;
font-size:14px;
margin: 10px auto;
display:block;
border-radius:10px;
border:2px solid #000000;
}


/* CSS DO RANGE SLIDER */

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #6eaa5e;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #008000;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6eaa5e;
}


/* fim do CSS do range slider */

/* CSS que eu usei pra criar a pagina  */

body {

background-image: url("../fundos/fundo_jogo2.jpg");
background-position: 50% 0%;
background-repeat: no-repeat;
position: fixed;
top: 0; left: 0; bottom: 0; right: 0;
margin: auto;
width: 90%;
height:90%;
width: 960;
vertical-align: middle;
height: 720px;
font-family: HelvetiHand;

}

/* CSS PARA PAPEL - nao estou usando agora */


/* .paper { */
  /* position: relative; */
  /* width: 90%; */
  /* max-width: 800px; */
  /* min-width: 400px; */
  /* height: 390px; */
  /* margin: 0 auto; */
  /* background: #fafafa; */
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 8px rgba(0,0,0,.3); */
  /* overflow: hidden; */
/* } */
/* .paper:before { */
  /* content: ''; */
  /* position: absolute; */
  /* top: 0; bottom: 0; left: 0; */
  /* width: 60px; */
  /* background: radial-gradient(#575450 6px, transparent 7px) repeat-y; */
  /* background-size: 30px 30px; */
  /* border-right: 3px solid #D44147; */
  /* box-sizing: border-box; */
/* } */

/* .paper-content { */
  /* position: absolute; */
  /* top: 30px; right: 0; bottom: 30px; left: 60px; */
  /* background: linear-gradient(transparent, transparent 28px, #91D1D3 28px); */
  /* background-size: 30px 30px; */
/* } */

/* .paper-content textarea { */
  /* width: 100%; */
  /* max-width: 100%; */
  /* height: 100%; */
  /* max-height: 100%; */
  /* line-height: 30px; */
  /* padding: 0 10px; */
  /* border: 0; */
  /* outline: 0; */
  /* background: transparent; */
  /* color: mediumblue; */
  /* font-family: 'Handlee', cursive; */
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* box-sizing: border-box; */
  /* z-index: 1; */
/* } */

/* fim do CSS para papel */

#personagem {
float:left;
width: 26%;
top: 0;
left: 210px;
bottom: 0;
font-size:32px;
position: fixed;
height: 100%;
z-index: 555px;
font-family: HelvetiHand;
/* background-color: rgba(10,23,55,0.5); */
background-size: cover;

} 

textarea {
margin-top:0px;
height: 50px;
padding: 5px;
resize: none;
width: 500px;
position:relative;
vertical-align: top;
} 


#cadastro {
float:right;
width: 50%;
vertical-align: top;
left: 500px;
font-size:32px;
position: fixed;
height: 100%;
font-family: HelvetiHand;
/* background-color: rgba(10,23,55,2); */
background-size: cover;
margin-top:15px;
}

#formulario{
margin-top:0px;
left: 610;
font-size:18px;
position: fixed;
vertical-align: top;

}

#barrinhas{
font-size:18px;
position: fixed;
float:left;
top: 500px;
left:300px; 
}

#areadetexto {
font-size:14px;
text-align: center;
margin-top:0%;
}


#imagembiscoito {
float:center;
width: 300px;
height: 365px;
top: 10%;
left: 20%;
bottom:50%;
position: fixed;
z-index: 555px;
font-family: HelvetiHand;
background-size: cover;
}

#botaodeimagem {
bottom:24%;
left: 19%;
position: fixed;
}
