@font-face {
	font-family: "UFSMicon";
	src: url("../fonts/UFSMicon.woff") format('woff');
}

/**
* Define fonte padrão sobrescrevendo configurações inline e do elementor.
*/
* [style], .elementor-text-editor{
	font-family: Raleway,sans-serif !important;
}
/**
* Classe para ícone de widgets ( > )
*/
.bg-ufsm-widget-icon{
	background: #2c68bc;
	color: white;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
}

p:empty {
	display: none;
}

img{
	max-width: 100% !important;
}

.noticia_conteudo a {
    color: #0a6cff;
}

.entry-informations
{
	text-align:right;
}

.leia-mais{
	width: 100%; 
	text-align: right; 
	background: #eeeff1;   
	padding: 4px;   
	border-bottom: 1px solid #2c66ce;
	text-transform: uppercase;
}

.leia-mais a{
	color:#333;
	font-size:11px;
}
@media (max-width: 567px){
	#main-header .language-and-actions-container #portal-siteactions {
		text-transform: unset !important;
	}
	#portal-searchbox{
		margin-right: -10px !important;
	}
}
@media (max-width: 768px){
	#logo > div.logo-ufsm.flex-shrink-0 > a > img{
		height: 73px !important;
	}
	#portal-searchbox-field{
		font-size: 0.85rem !important;
	}
	#portal-searchbox > form{
		margin-bottom: 5px!important;
		margin-top: 8px !important;
	}
	#main-header > div.sobre{
		padding-top: 0px !important;
		padding-bottom: 2px !important;
	}
	#main-header #logo h1#portal-title-1{
		text-align: left !important;
		font-size: 1.5rem!important;
		line-height: 1.5rem !important;
	}
	#logo > div.logo-text.d-flex.align-items-start > a > div{
		padding-top: 5px !important;
		font-size: 0.85rem!important;
	}
}
@media (min-width: 768px) AND (max-width: 976px) { 
	#afooter>div>div:not(:first-child) .footer-widget {
		border-top: 1px dotted transparent;
		min-width: 250px;
		padding-left: 10px;
	}
	#logo > div.logo-ufsm.flex-shrink-0 > a > img{
		height: 82px !important;
	}
	#main-header #logo h1#portal-title-1{
		text-align: left !important;
		font-size: 1.5rem!important;
		line-height: 1.5rem !important;
	}
	#logo > div.logo-text.d-flex.align-items-start > a > div{
		padding-top: 5px !important;
		font-size: 0.85rem!important;
	}
}
@media (min-width: 976px) AND (max-width: 1367px) {
	.post-calendario .lista_filtros button {
		font-size: 76%;
		font-weight: 700;
	}
	.link_meses a {
		font-size: 85%;
	}
}

@media only screen and (max-width: 600px) {
	.sow-slider-base {
		height: unset !important;
	}
}

@media (min-width: 576px) { 
	.logo-text{
		margin:0;
	}
	#search-main-section
	{
		padding-left: 0px;
	}

	section#filter-section {
		padding-right: 0px;
	}

	#menu-superior{
		column-count: 2;
	}
} 
@media (min-width: 768px) {
	#language-switcher{
		float: right;
		margin-right: -15px;
	}

	#main-footer > div.footer-ferramenta > div{
		display: flex !important;
	}

	#main-footer > div.footer-ferramenta > div > p:not(:first-child){
		margin-left: auto !important;
		align-self: center !important;
	}

	#portal-searchbox{
		clear: both; 
		float: right;
	}

	.logo-ufsm{
		float:left;
	}

	#menu-superior{
		column-count: 3;
	}
}
@media (min-width: 992px) { 
	#afooter>div>div:not(:first-child) .footer-widget {
		border-left: 1px dotted #8BACDF;
		padding-left: 10px;
	}


	.info-busca
	{
		padding:0px;
		display: flex;
		flex-direction: column;
	}

	.info-busca-lista {
		border-left:1px solid #ecdcdc;
		padding-left: 22px;
	}
	.info-busca-lista > .entry-summary {
		padding-bottom: 15px;
	}

	#main-content #main-section{
		padding-right: 0 !important;
	}
	.rpwwt-widget ul li img{
		height: 150px !important;
	}
	.logo-text{
		margin-top: 10px;
		margin-bottom: 23px;
	}
	.titulo-menor{
		line-height: 2.7rem;
		font-size: 2.0rem;
		margin-bottom: 17px;
	}
	.titulo-normal{
		margin-top: 7px;
	}
	.logo-ufsm img
	{
		border-right: 1px solid white;
		padding-right: 21px;
	}

	.idioma-e-pesquisa{
		float:right;
	}

	#menu-superior{
		column-count: 4;
	}
}
@media (min-width: 1200px) { 
	.recent-post-slider .recentpost-categories ul.post-categories li a {
		margin-right: 0 !important;
	}
	.site-title{
		font-size: 3.9rem;
		line-height: 2.5rem;
		margin-bottom: 13px;
	}

	.titulo-menor{
		font-size: 2.3rem;
		margin-top: 5px;
	}

	.titulo-menor-ainda{
		line-height: 0.95em;
		font-size: 1.75rem;
		margin-bottom: 2px;
		margin-top: 5px;
	}
	main#main-content #main-section {
		padding-left: 5px;
		min-height: 450px;
		/*width: 86.4%;*/
	}
	#nav_menu-7
	{
		margin-bottom: 205px !important;
	}
	.rpwwt-widget ul li img{
		height: 150px !important;
	}

	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: none !important;
	}

	#menu-superior{
		column-count: 5;
	}

}

@media (max-width: 576px) {
	.rpwwt-widget ul li img{
		max-height: 180px;
	}
	#main-content > div:nth-child(1){
		padding-bottom: 0px!important;
	}
	.breadcrumb-nav{
		padding:8px 13px 0px 14px !important;
	}

	#main-header ul, #main-header #language-switcher, #main-header #portal-searchbox, #main-header #social-icons {
		float:none;
	}
	#menu-superior > li {
		margin-left: auto !important;
		margin-right: auto  !important;
	}
} 
@media (max-width: 768px) {
	#afooter>div>div:not(:first-child) .footer-widget {
		border-top: 1px dotted #8BACDF;
		padding-left: 10px;
	}
	#coluna-busca{
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: 0px !important;
		margin-right: -15px !important; 
	}
	.busca-lista-grid{
		padding-left: 0px;
		padding-right: 0px;
	}

	#main-header div.sobre li
	{
		float: left !important;
		line-height: 22px !important;
	}

	#main-footer > div.footer-ferramenta > div > p:not(:first-child){
		padding-top: 7px !important;
	}

	.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
		padding: 10px 0 !important;
	}

	.menu-item a{
		margin-top: 1px !important;
	}
	
	.rpwwt-widget ul li img{
		max-height: 450px;
	}
	.logo-text{
		width: 100% !important;
		text-align: center !important;
	}

	.logo-ufsm img{
		display: block;
		margin: 0 auto;
	}
	#portal-searchbox{
		text-align: center !important;
		float: none !important;
	}

	#menu-servicos{
		display: none !important;
	}
	#btn-menu-superior{
		margin-left: auto !important;
		margin-right: auto !important;
		width: 100%;
	}

	#menu-rapido-mobile{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around!important;
	}
	#menu-rapido-mobile > li{
		padding-right: 1.5rem;
		padding-top: 1.5rem;
	}
}
@media (max-width: 992px) { 

	.entry-summary{
		margin-bottom: 5px !important;
		margin-top: 5px !important;
	}

	.info-busca{
		display: flex !important;
		justify-content: space-between;
		align-items: baseline;
		border-bottom:1px solid #ecdcdc;
		padding-bottom: 5px;
	}

	.info-busca-lista{
		padding-top: 10px !important;
	}

	.onibus-horarios-dia .filtro_linhas{
		display: none;
	}
	#portal-siteactions {
		float: unset !important;
	}
	body.home .post-content {
		margin-top: -50px;
	}
	#portal-searchbox{
		clear: both;
		float: right;
		text-align: right;
	}
	.footer-widget {
		padding: 20px 15px 10px 15px;
	}

	#main-footer .footer-ferramenta {
		padding: 17px 15px 11px 15px !important;
	}
	#main-footer .footer-ferramenta .pull-left,
	#main-footer .footer-ferramenta .pull-right {
		width: 100%;
		text-align: center;
	}
	#main-footer .footer-ferramenta .pull-right {
		margin-top: 5px !important;
	}
	.menu-servicos{ 
		padding-right: 15px;
		padding-left: 15px;
	}
	#main-header #logo h1 {
		line-height: 3rem !important;
	}
	#portal-siteactions{
		float: none;
		text-align: center;
		margin: 2px !important;
	}
	.brasaoUFSM{
		margin-top: 15px;
		margin-bottom: -15px;
		width:  100px !important;
		height: 110px !important;
	}
	.sow-carousel-wrapper ul.sow-carousel-items {
		width: 100% !important;
	}
	.post #main-section, .page #main-section {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
		background-repeat: no-repeat;
		background-size: 100%;
	}
	#main-section .hentry ul li.sow-carousel-item {
		list-style: none !important;
		width: 100%;
	}
	.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
		background-repeat: no-repeat;
	}
	.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a, .so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
		width: 100% !important;
	}
	.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
		background-repeat: no-repeat;
	}
	#social-icons{
		clear: both;
		float: none;
		text-align: center;
	}
	#language-switcher{
		clear: both;
		text-align: center;
	}
	.sub-ingredientes {
		padding: 0 25px!important;
	}
	.recent-post-slider.design-3 .post-short-content {
		bottom: -35px !important;
	}
	.recent-post-slider.design-3 .post-overlay:hover > .post-short-content{
		bottom: 0px !important;
	}
}
@media (max-width: 1200px) {
	#main-content .container {
		position: relative !important;
		padding-top: 0px !important;
	}
	#language-switcher #content {
		float: none !important;
		text-align: center !important;
	}
	#div-pesquisa{
		float:none !important;
	}
}
.rpwwt-widget ul li img{
	width:100% !important;
}
#language-switcher{
	height:15px;
}
#middle-header{
	padding-right: 10px;
	padding-left:10px;
}
.footer-menus li a {
	display: block !important;
	color: white !important;
}
footer#main-footer .footer-logos{
	color:white !important;
}
.ms-global-search_form input{
	margin:0px !important;
}
.ms-global-search_form input {
	background: #1e51a3;
	padding: 7px;
	border: 1px solid white;
}
.ms-global-search_hbox {
	background: white !important;
	color:black !important;
}
#logo{
	padding-left: 0px;
}
#main-header #logo h1 a:hover{
	text-decoration: none !important;
}
#logo .logo-text a:hover,
#logo .logo-text a:focus{
	text-decoration: none !important;
}
.menu-apoio.pull-right{
	width:100%;
}

.nopadding{
	padding: 0px !important;
}
#main-section .hentry ul li.sow-carousel-item {
	list-style: none !important;
}
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
	width: 323px;
}
#portal-siteactions{
	float: right;
}
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a{
	background-size: 100%;
}
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a, .so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
	width: 100%;
	height: 163.8px;
}
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover{
	width: 100%;
	height: 163.8px;
}
.sow-carousel-title a.sow-carousel-next, .sow-carousel-title a.sow-carousel-previous{
	display:none !important;
}
#panel-250-0-0-0 > div > div.sow-carousel-container > div > ul > li > div > a{
	background-size: cover;
	width: 1%;
	height: 330px;
	border-bottom: 1px solid #ececec;
	padding-bottom:10px;
}
.sow-carousel-wrapper{
	border-bottom: 1px solid #dedede;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
	width: 100%;
}
body.home .post-content {
	margin-top: -124px;
}
.widget-title {
	background: #eeeff1;
	color: #0078c1;
	padding: 6.5px;
	width:100%;
}
.recent-post-slider .recentpost-categories ul.post-categories li a{
	background:#015a86 !important;
}
.bg-ensino .widget-title{
	background: #0099cc !important;
	color:white !important;
}
.bg-pesquisa  .widget-title{
	background:#009999 !important;
	color:white !important;
}
.bg-comunidade  .widget-title{
	background: #666699 !important;
	color:white !important;
}
.bg-cultura  .widget-title{
	background: #ff9933 !important;
	color:white !important;
}
.bg-sustentabilidade{
	background: #66cc66 !important;
	color:white !important;
}
#main-section .hentry h1, #main-section .hentry h2, #main-section .hentry h3, #main-section .hentry h4, #main-section .hentry h5, #main-section .hentry h6{
	width:100%;
}
#main-section .hentry h3 {
	font-size: 1.17em !important;
	margin: 0.2em 0 !important;
}
.rpwwt-widget ul li img {
	margin-top: -5px !important;
}
.rpwwt-post-date {
	color: #8c8c8c;
	margin-bottom: 20px;
}
.ai1ec-agenda-widget-view .ai1ec-event > a{
	border:none !important;
}
.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month{
	background: #0078c1;
}
.recent-post-slider h2.wp-post-title a{
	color: #1f6e95;
}
.timely .ai1ec-btn-default{
	border:none;
}
.entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited{
	color: #0078c1;
}
.recent-post-slider.design-4 .post-list-content .wp-post-title a {
	line-height: 26px !important;
}
.recent-post-slider h2.wp-post-title a:hover{
	text-decoration: underline !important; 
}
.ai1ec-agenda-view .ai1ec-date, .ai1ec-agenda-widget-view .ai1ec-date {
	background: none;
	border-top: none !important;
	border-bottom: 1px solid #eeeff1;
	margin-bottom: 3px;
}
.slick-slide{
	height:auto !important;
}
.network-directory-sites li {
	display: block !important;
}


.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated,
.sobre>.container{
	padding-right: 0 !important;
}
#main-content .container{
	background:white;
	padding:10px 0;
}
#social-icons{
	padding-right: 3px;
}
#main-header{
	background: radial-gradient(ellipse at center,#f0f2f1 1%,#ecedf1 100%);
}
.recent-post-slider button.slick-prev, .recent-post-slider button.slick-prev:hover, .recent-post-slider button.slick-prev:focus{
	background: rgb(245, 131, 34) url(/wp-content/plugins/wp-responsive-recent-post-slider/assets/css/arrow-left.png) center center no-repeat !important;
	background-size: 25px 25px !important;
}
.recent-post-slider button.slick-next, .recent-post-slider button.slick-next:hover, .recent-post-slider button.slick-next:focus{
	background: rgb(245, 131, 34) url(/wp-content/plugins/wp-responsive-recent-post-slider/assets/css/arrow-right.png) center center no-repeat !important;
	background-size: 25px 25px !important;
}
.so-panel ul li a{
	line-height: 1.5em !important;
}
.rpwwt-post-title{
	font-size: 15px;
	color: #424242;
	font-weight: bold;
}
.post-categories.wppsac-post-categories li a{
	line-height: 2.5em !important;
}
.recent-post-slider.design-3 .recentpost-categories {
	left: 30px;
	bottom: 15px !important; 
	z-index: 1000;
	top: auto !important;
}
.recent-post-slider.design-3 .post-short-content{
	height: 21% !important;
	background: rgba(0, 0, 0, 0.6) !important;  
}
.recent-post-slider.design-3 h2{
	padding-bottom: 15px;
}
.recent-post-slider button.slick-arrow{
	height: 27px !important;
}
.recent-post-slider button.slick-next, .recent-post-slider button.slick-next:hover, .recent-post-slider button.slick-next:focus,
.recent-post-slider button.slick-prev, .recent-post-slider button.slick-prev:hover, .recent-post-slider button.slick-prev:focus{
	background-size: 15px 15px !important;
}
.recent-post-slider h2.wp-post-title a{
	font-size: 19px !important;
}
.recent-post-slider.design-3 .post-overlay:hover > .post-short-content {
	height: 57% !important;
}
.recent-post-slider.design-3 .slick-dots {
	left: 47% !important;
	bottom: 10px !important;
}
.recent-post-slider .slick-dots li.slick-active button {
	background: #f58a2f !important;
}
.recent-post-slider .slick-dots li button{
	border:none !important;
}
.entry-content .timely .ai1ec-btn-default, .comment-content .timely .ai1ec-btn-default, .site-footer .widget .timely .ai1ec-btn-default {
	color: #f58322 !important;
}
.ai1ec-btn, .ai1ec-calendar-toolbar{
	border:none !important;
}
.ai1ec-btn, .ai1ec-calendar-toolbar a{
	color:#f58a2f !important;
	font-size: 1.3em !important;   
}
#portal-searchbox-field{
	border: 1px solid #e6e6e6 !important;
}
#portal-searchbox-field::placeholder{
	color:#015a87 !important;
}
.recent-post-slider .recentpost-categories ul.post-categories li a{
	font-weight: bold;
	letter-spacing: 1px;
}
#iframedofarol{
	border: 1px solid #eeeff1;
}
.voltar-ao-topo{
	padding-right: 20px;
	padding-bottom: 15px;
}
.diretorio-sites li{
	display: block !important;
	line-height: 2em !important;
}
.footer-widget {
	margin: 20px 0px 10px 15px;
}
.footer-widget p {
	color: white;
}

h3.footer-title{
	text-transform: uppercase;
	color: white;
	margin-bottom: 5px;
	font-size:18px; 
}
#site-directory-toggle i{
	margin-left:15px;
}
#site-directory-toggle{
	cursor:pointer;
	color:#565656;
	border-radius:2px;
}
li > ul, li > ol {
	margin-left: 2.0em;
}

.recent-post-slider .post-image-bg img{
	width: auto !important;
}
.recent-post-slider.design-4 .post-image-bg{
	height: auto !important;
}
#menu-topo li a {
	background: #efefef;
}
#menu-topo li  {
	border-bottom:0px !important;
}
.wp-post-date{
	display:none;
}
.recent-post-slider h2.wp-post-title{
	line-height: 32px;
}
.menu-menu-de-servicos-container{
	margin-right: 10px;
}
.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month, .ai1ec-agenda-widget-view .ai1ec-date-title, .ai1ec-agenda-view .ai1ec-date-title{
	border-radius:0px !important;
}
.post-categories.wppsac-post-categories li {
	width: 100%;
}
.recent-post-slider .recentpost-categories ul.post-categories li a{
	border-radius: 0px !important;
}
.recent-post-slider.design-4 .post-list-content .wp-medium-7, .recent-post-slider.design-4 .wp-medium-5 {
	padding:0px !important;
}
.recent-post-slider .recentpost-categories ul.post-categories li{
	margin: 0px !important;
}
.wp-medium-7.wpcolumns .wp-post-title, .wp-medium-7.wpcolumns .wp-post-content{
	padding-left:10px;
}

.sow-slider-base .sow-slider-pagination li{
	display:inline-block !important;
}
.sow-slider-base {
	position: relative;
	overflow: hidden;
	height: 308px;
	background: #eeeff1;
}
.so-widget-sow-slider-default-abf3e628296a .sow-slider-base .sow-slide-nav a {
	color: #F08124;
}
.so-widget-sow-slider-default-abf3e628296a .sow-slider-base .sow-slider-pagination li a {
	background: #F08124;
}
.nlposts-ulist-container .thumbnails {
	margin-left: 0;
	width: 20%;
	float: left;
	margin-right: 43px;
}
.menu-apoio .menu-item-object-page.current-menu-item {
	border-left: 3px solid #f58322;
	background: white;
}
ul.sub-menu li.menu-item-has-children > a {
	background: #edeff1;
	/*color: #015a87  !important;*/
}
ul .menu-item-has-children > .sub-menu li > .sub-menu li{
	padding-left: 15px!important;
}
/* ul .menu-item-has-children > .sub-menu li > .sub-menu{
	display:none;
} */
.dropdown-custom {
	position: absolute;
	right: 13px;
	margin-top: -31px;
	border-radius: 0px !important;
	width: 31px;
	text-align: center;
	padding-left: 0px !important;
	height: 30px;
}

.globalsearch_header {
	margin: 0px !important;
}
.globalsearch_post{
	clear: both;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 10px; 
	margin-bottom: 0px !important;
}
.globalsearch_content hr{
	margin-bottom: 0px !important;
}
.entry-content .globalblog_title {
	background: #888888;
	color: white !important;
	padding: 10px 10px 4px 9px;
	text-decoration: none;
}
.ufsm_icon {
	font-family: UFSMicon;
	font-size: 1.70em;
}
.portalredes-item > .ufsm_icon{
	margin-top: -10px !important;
}
.white-link{
	color:white !important;
}

#social-icons{
	clear: both;
	float: right;
}

/*textwidget LATERAL*/
.links-uteis{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.widget lista li,
.widget-lista ul li{
	display: block !important;
}
.front-noticias ul{
	padding-left: 7px !important;
}
#modal-acessibilidade.modal-title{
	font-size: 2em !important;
	color:black;
}
#modal-acessibilidade .modal-body{
	color:black;
	line-height: 1.5 !important;
}
#modal-acessibilidade .modal-body ul li{
	color:black;
	line-height: 1.5 !important;
	list-style: disc;
	display: list-item !important;
}
#modal-acessibilidade .modal-body ul{
	padding-left: 40px !important
}
.ai1ec-agenda-view .ai1ec-date.ai1ec-today, .ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today {
	background: transparent;
}

/*SITEMAP*/
#sitemap li{
	display: block !important;
	padding: 3px 0px;
}
#sitemap ul.children {
	margin-top: 3px;
	margin-bottom: -8px;
}
#sitemap .children>li>a{
	font-weight: unset !important;
}

/*SITEMAP*/

/*GOOGLE IDIOMA*/
.idioma-flag{
	width:16px;
	height: auto !important;
	opacity: 1;
}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}

a.flag {text-decoration:none;}
a.flag img {vertical-align:middle;padding:0;margin:4px;border:0;display:inline;height:24px;opacity:0.8;}
a.flag:hover img {opacity:1;}
a.flag span {margin-right:5px;font-size:15px;vertical-align:middle;}
/*GOOGLE IDIOMA*/

ol.sow-slider-pagination > li {
	list-style: disc !important;
	padding-left: 5px;
}
.Farol_ultimos_videos{
	margin-bottom:30px !important;
}

.menu-navbar {
	overflow: hidden !important;
}
.nav-previous{
	float:right;
}
ul.lista-editais li {
	display: block !important;
	line-height: 2;
}
#no_format ul .menu-item-has-children > .sub-menu li > .sub-menu {
	display: block !important;
}
#no_format .dropdown-custom{
	display:none;
}
#no_format li.menu-item-has-children > a {
	padding: 5px;
	line-height: 36px;
}
.table-cardapio{
	margin-top: 5px;
}
.table-cardapio td {
	padding: 1px 10px !important;
	color: #1f6e95;
}
.wplp_container.default .defaultflexslide img {
	width: 100%;
	transform: translate(0%, -50%);
	top: 50%;
	position: absolute;
}
.insideframe li {
	padding: 5px;
	display:inline-block !important;
}
.menu-navbar li .current-menu-item{
	background-color: #d5f1ff;
	border-right: 3px solid #0078c1;
}
.jqcloud-word:hover a{
	zoom:200%;
	color:#0078c1 !important;
}
.jqcloud-word:hover{
	background: white;
	z-index: 1000;
	box-shadow: 4px 2px 9px #c7c7c7;
	padding: 8px;
}
.btn-tags{
	background:white;border:1px solid #0078c1;color:#0078c1;
}
.btn-tags a{
	color:#0078c1 !important;
}
.ultimos-arquivos{
	padding: 8px;
}
#main-section .hentry h5, 
#main-section .hentry h6, 
.titulo-conteudos,
#main-section .entry-content div[class*="elementor"] h5,
#main-section .entry-content div[class*="elementor"] h6{
	width: 100%;
	background: #eeeff1;
	color: #0078c1;
	padding: 6.5px;
	font-size: 16px !important;
	border-top: 1px solid #0078c1;
	border-top: 2px solid #204c90 !important;
	color: #204c90 !important;
	font-weight: bold;
}
.video-apresentacao video {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.video-apresentacao{
	margin-top:10px; 
	height:600px;
	overflow:hidden;
}
.recent-post-slider.design-4 .post-list-content .wp-post-title a {
	color: #0078c1;
}
.elementor-text-editor ul li, .type-post ul li{
	/*display: list-item !important;*/
}
.recent-post-slider .post-image-bg img {
	width: 100% !important;
	height: auto !important;
}
.recent-post-slider.design-3 .post-image-bg {
	height: unset !important;
}
.recent-post-slider.design-3 .post-short-content {
	padding: 0px 30px 35px 30px !important;
}
.recent-post-slider.design-3 .post-overlay:hover > .post-short-content {
	background: radial-gradient(ellipse at center,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.7) 100%) !important;
	height: 65% !important;
}

.subfieldlist{
	padding-left:35px;
}

.subfieldlist li{
	line-height: 20px;
}

.info-busca .posted-on .dashicons
{
	color:#346dbc;

}

.info-busca .dashicons, .info-busca .dashicons-before:before
{
	line-height:unset;
}

.info-busca .posted-on{
	line-height: 25px;
}

.info-busca-lista h4 {
	font-size:15px;
}

.busca-lista-grid .text-muted {
	font-size: 12px;
}

.lista-sites-pesquisa li{
	line-height:22px;

}

.lista-sites-pesquisa li span{
	color: #346dbc;
	font-size: 15px;
	vertical-align: middle;
}

code {
	padding:0px!important;
}

.data-publicacao-widget
{
	font-size: 0.85em;
	color: #585858;
	line-height: 23px;
}


.categoria-publicacao-widget
{
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 0 0 0.3em;
}
.titulo-publicacao-widget:hover{
	text-decoration:underline;
}

.eventos-widget-wrap:hover { 
	transform: scale(1.2);
	border:1px solid #d8d8d8;
	z-index: 99999 !important;
}

.eventos-widget-wrap { 
	background-repeat:no-repeat;
	border-radius: 3px;
	background-size:95%;
	background-position:center;
	height: 100%;
	width: 100%;
	transition: all 0.5s ease;
	border:1px solid #d8d8d8;
	z-index: 1 !important;
}

#logo-e-pesquisa{
	min-height: 114px;
}


.modal-title{
	color: #000;
}
.evento-header #evento-title h3{
	margin: 0.3em 0 !important;
}
.evento-header #evento-title > div{
	padding: 0 !important;
}
.evento-header #evento-title{
	margin: 5px 0;
}
.event-popup {
	background-color:white;
	border: 1px solid green;
	display:block !important;
	font-weight:normal;
	position:absolute !important;
	bottom:20px !important;
	left:-6px !important;
	text-align:left !important;
	text-shadow:none !important;
	width:393px !important;
	z-index:2000 !important;
}
/*TextToSpeech*/
#btn_leitor_texto span{
	font-size: 1.5em;
	vertical-align: top;
}
#btn_leitor_texto{
	cursor: pointer;
}
#btn_leitor_texto span.glyphicon{
	vertical-align: bottom;
}

.btn-outline{
	color:black;
}
.btn-outline:hover {
	color:#015a87;
}

.btn-outline {
	padding: 5px 17px !important;
	border: 1px solid #e0e0e0 !important;
}

.btn-outline:disabled,
.btn-outline.is-disabled {
	opacity: .5;
}
nav.post-navigation{
	display: none !important;
}

@media screen and (max-width: 600px)
{
	#wpadminbar {
		position: fixed;
	}	

}
.tooltipevent{
	background: white;
}
.slick-arrow:before {
	color: #1659bf !important;;
}

.elementor-text-editor figure{
	margin: 5px 20px 20px 5px;
}

.elementor-text-editor img{
	margin: 5px 20px 20px 5px;
}
.filtros legend{
	width: unset;
	border: 0px;
	padding: 0px 10px;
	margin: 0px 10px;
	position: relative;
}
.filtros{
	border: 1px solid #ccc;
}
.filtros .lista_filtros{
	margin-bottom: 10px;
}

.archive-departamento-list{
	margin-top: 30px;

}
.archive-departamento-list-item{
	font-family: "Roboto", Sans-serif;
	font-weight: 600;

}

.archive-departamento-list-item a{
	margin-top: 1000px;
}

.content-informacoes-gerais{
	padding-top: 15px;
	padding-bottom: 15px;
}
.tabs_ru .nav-tabs{
	background-color: white;
}
.tabs_ru .nav-tabs>li>a{
	border: 1px solid #204c90;
	color: #204c90;
}

.tabs_ru .nav-tabs>li>.nav-link.active{
	border: 1px solid #204c90;
	background-color: #204c90;
	color: white;
}

.tabs_ru .nav-tabs>li>a:focus, 
.tabs_ru .nav-tabs>li>a:hover, 
.tabs_ru .nav-tabs>li.active>a, 
.tabs_ru .nav-tabs>li.active>a:focus, 
.tabs_ru .nav-tabs>li.active>a:hover{
	border: 1px solid #204c90;
	background-color: #204c90;
	color: white;
}

.tabs_ru .nav-tabs>li:not(:last-child)>a{
	border-right: none !important;
}

.tabs_campus .nav-tabs{
	background-color: white;
	padding-bottom: 10px;
}
.tabs_campus .nav-tabs>li>a{
	border: 1px solid #204c90;
	color: #204c90;
}
.tabs_campus .nav-tabs>li:not(:last-child)>a{
	border-right: none !important;
}
.tabs_campus .nav-tabs>li.active>a, 
.tabs_campus .nav-tabs>li.active>a:focus, 
.tabs_campus .nav-tabs>li.active>a:hover, 
.tabs_campus .nav-tabs>li>a:hover {
	border: 1px solid #204c90;
	background-color: #204c90;
	color: white;
}

.tabs_campus .nav-tabs>li>.nav-link.active{
	border: 1px solid #204c90;
	background-color: #204c90;
	color: white;
}

.tabs_ru .info>th, .tabs_ru .info>td, .tabs_ru .info>tr{
	background-color: #a9a9a9;
}
.tabs_campus{
	margin-top: 10px;
}
.table_head{
	background-color: #204c90;
	color: white;
}
.edital-tr-revogacao{
	background-color: #b14a47 !important;
	color: white;
}


.edital-tr-revogacao a{
	color: white;
	font-weight: bold;
} 

.leia-mais .icon-box {
	margin-left: 10px;
}

.titulo-info{
	font-weight: bold;
}

.conteudo-descricao-edital table,.conteudo-descricao-edital  th,.conteudo-descricao-edital td {
	border: 1px solid black;
}
/**
* .card-ufsm: estilos para padronização de cards, collapses e accordions
*/
.card-ufsm,
.elementor-toggle-item,
#main-section .hentry .elementor-accordion-item{
	border-color: #eeeff1 ;
	border-top-color: rgb(238, 239, 241) ;
	border-top: 3px solid #204c90 ;
}

#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title,
#main-section .hentry .elementor-accordion-item .elementor-tab-title{
	border-bottom: 0px !important;
}
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-content,
#main-section .hentry .elementor-accordion-item .elementor-tab-content{
	border: 1px solid #f5f5f5 !important;
}
.card[class*="card-ufsm"], 
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title,
#main-section .hentry .elementor-accordion-item .elementor-tab-title{
	color: #333;
	background-color: #f5f5f5 ;
	border-radius: 0px;
}
.card[class*="card-ufsm"] > .card-header,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title,
#main-section .hentry .elementor-accordion-item .elementor-tab-title{
	font-weight: 700;
	padding: .375rem .75rem !important;
	border-radius: 0px;
	white-space: normal !important;
}

.card-ufsm > .card-header,
.card-ufsm-slim > .card-header,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title,
#main-section .hentry .elementor-accordion-item .elementor-tab-title{
	color: #204c90;
}
.card-ufsm-slim > .card-header{
	border-top: 1px solid #204c90 !important ;
}
.card-ufsm-primary > .card-header{
	background-color: #204c90;
	color: #fff;
}
.card-ufsm-info > .card-header,
#main-section .hentry table.table.table-ufsm thead tr{
	background-color: #007abb;
	color: #fff;
}

.card-ufsm-secondary > .card-header{
	border: 1px solid #495057 !important;
	background-color: #fff;
	color: #495057;
}

#main-content .card[class*="card-ufsm"] > h3.card-header{
	margin: 0!important;
}
.card[class*="card-ufsm"] .card-body,
table.table.table-ufsm,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-content{
	background-color: #fff;
}


.card[class*="card-ufsm"] > .card-header > a,
.elementor-widget-toggle .elementor-toggle .elementor-tab-title a,
.elementor-widget-toggle .elementor-toggle .elementor-tab-title span,
#main-section .hentry .elementor-accordion-item .elementor-tab-title a,
#main-section .hentry .elementor-accordion-item .elementor-tab-title span{

	/* Break word */
	white-space: normal !important;
	/* Estilos usados de .btn do BS4 */
    vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 1rem;
    line-height: 1.5;
	transition: color .15s;
	cursor: pointer; 
	/* Estilos combilados de display e flex */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: baseline;
	align-items: baseline;
	/* Reset de padding */
	margin: -.375rem -.75rem;
	padding: .375rem .75rem;
	/* Remove decoração de texto */
	text-decoration: none;
}

.card[class*="card-ufsm"] .collapse .card-header {
    margin-bottom: -1px !important;
}

#main-section .hentry .card[class*="card-ufsm"] .card-body h3.card-title,
#main-section .hentry h3.ufsm-title-primary,
#main-section .hentry .ufsm-title-primary,
#main-section .ufsm-title-primary{
	font-size: 1.65rem !important;
	font-weight: 300;
	line-height: 1.2;
	color: #204C90;
}

.card-header > a[data-toggle=collapse] i.collapse-indicator,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title a::after{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title{
	display: flex;
	align-items: baseline;
}
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title span.elementor-toggle-icon{
	order: 2;
	margin-left: auto;
	margin-right: 0rem;
}
.card-header > a[aria-expanded=false] i.collapse-indicator:before,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title span.elementor-toggle-icon i.elementor-toggle-icon-closed:before{
	content: "\f067";
}
.card-header > a[aria-expanded=true] i.collapse-indicator:before,
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-tab-title span.elementor-toggle-icon i.elementor-toggle-icon-opened:before{
	content: "\f068";
}

#main-section .hentry .elementor-accordion-item .elementor-tab-title{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: baseline;
	align-items: baseline;
}

#main-section .hentry .elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-left{
	float: none !important;
	order: 12;
	margin-left: auto;
	margin-right: 0rem;
}

.accordion .card[class*="card-ufsm"]:not(:last-child),
#main-section .hentry .elementor-widget-toggle .elementor-toggle .elementor-toggle-item{
	margin-bottom: 1rem!important;
}
.accordion .card[class*="card-ufsm"] .card-body{
	border-bottom: 1px solid #dee2e6;
}

#main-section .hentry table.table.table-ufsm th,
#main-section .hentry table.table.table-ufsm td{
	color: #fff;
	border-bottom: 1px solid #ccc;
}

#main-section .hentry table.table.table-ufsm th:not(:last-child),
#main-section .hentry table.table.table-ufsm td:not(:last-child),
#main-section .hentry table.table.table-ufsm.border-0 th,
#main-section .hentry table.table.table-ufsm.border-0 td{
	border-right: none;
}

/* Estilo para contraste com tabelas com classes contextextuais .table- do BS4 */
#main-section .hentry table.table.table-ufsm tr[class^='table-'] td{
	font-weight: 700;
	color: #1a3b69;
}
#main-section .hentry table.table.table-ufsm tr[class^='table-']:not(.table-default) td{
	border-bottom: 1px solid #fff;
}
#main-section .hentry table.table.table-ufsm tr[class^='table-']:not(.table-default):last-child td{
	border-bottom: none;
}
/* Estilos de componente ufsm */

table.table.table-ufsm .badge{
	font-size: 80% !important;
} 

/* Fim dos estilos card-ufsm */

#lista-servicos  > li{
	padding-bottom: 5px;
	list-style-type: disc;
	margin-left: 20px;
}



.data-edital{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.data-edital  span{
	line-height: 50% !important;
}

.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {
	color: #cc8f00;
}

.elementor-widget-accordion .elementor-accordion .elementor-tab-title {
	color: #204c90;
}


.elementor-widget-icon-box.elementor-view-framed .elementor-icon, 
.elementor-widget-icon-box.elementor-view-default .elementor-icon,
.elementor-widget-icon-box .elementor-icon-box-title a{
	color: #204C90 !important;
	border-color: #204C90;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 5px !important;
}
h5.elementor-heading-title.elementor-size-default a{
	line-height: 1.1 !important;
}
.portalredes-item a:hover,
.portalredes-item a:focus{
	text-decoration: none !important;
}

li.coluna-lista-site a {
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
}


.archive-departamento-list {
    font-size: 14px;
    letter-spacing: 1px;
}
.btn-oculta-menu{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.btn-oculta-menu>li>a:focus, .btn-oculta-menu>li>a:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
#button_topo{
	display: none;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	cursor: pointer;
	color:#888888;
}
.row.lista_filtros button {
    overflow: hidden;
}
.link_meses a{
	overflow: hidden;
}

/* full-calendar reset */

.fc th, .fc td {
	padding: 0 !important;
}
.data-box {
	text-align: center;
	border: 1px solid #204c90;
}
.badge{
	font-size: 85% !important;
	padding-bottom: 4px !important;
}
.busca-lista-grid .text-muted .badge{
	font-size: 100% !important;
}
/** Estilos para carousel estilo bxslider */
.carousel-ufsm .carousel-inner .carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.carousel-ufsm .carousel-indicators-numbers {
	bottom: initial;
	left: initial;
	top: 18px;
	right: 18px;
	text-align: right;
	margin-right: 0%;
}
.carousel-ufsm .carousel-indicators-numbers li {
	text-indent: 0;
	margin: 0 4px;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 100%;
	line-height: 20px;
	color: #fff;
	background-color: #23282d;
	opacity: 1;
	transition: all 0.25s ease;
	font-size: 0.85em;
}
.carousel-ufsm .carousel-indicators-numbers li:content{
	margin:auto;
}
.carousel-ufsm .carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
	background-color: #cc8f00;
}
.carousel-ufsm .carousel-control-prev,
.carousel-ufsm .carousel-control-next{
	background-color: #6c757d;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	margin-top: auto;
	margin-bottom: auto;
}
.carousel-ufsm .carousel-control-prev{
	margin-left: 10px;
}
.carousel-ufsm .carousel-control-next{
	margin-right: 10px;
}
.carousel-ufsm .carousel-control-next-icon, .carousel-control-prev-icon{
	height: 16px;
	width: 16px;
}
/** Fim dos estilos para carousel */
.pre-wrap{
	white-space: pre-wrap!important;
}
.pre-unstiled{
	border-left: none !important;
	background-color: transparent !important;
}
/** Estilos do Menu Principal da UFSM */
#menu-superior{
	margin-top: 0px !important;
	padding: 0.75rem 0rem;
	margin-bottom: unset !important;
	column-gap: 5rem;
}
#menu-superior li {
	display: block;
	margin-right: 25px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#menu-superior > li {
	font-weight: 900 !important;
	margin-bottom: 0rem !important;
	padding-top: 0.75rem !important;
	padding-right: 0.75rem !important;
	/* padding-left: 0.75rem !important; */
	border-right: none !important;
	width: 250px;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	color: black !important;
}

#main-header div.sobre-2 #menu-superior > li > a {
	font-size: 1.2em !important;
	padding-bottom: 0.5rem !important;
	line-height: initial;
} 
#main-header div.sobre-2 #menu-superior  ul{
	margin-left: 0.8em !important;
}

#menu-superior  li > ul{
	margin-left: 0rem !important;
	margin-right:0rem !important;
} 

#menu-superior > li ul li{
	border-right: none !important;
	padding-bottom: 0.4rem !important;
	padding-top: 0.4rem !important;
	padding-left: 1rem !important;
	width: 100%;
	font-weight: 500 !important;flex: 1 1 auto!important;
}


#main-header div.sobre-2 #menu-superior li a{
	display: flex;
}

#menu-superior > li ul li.current-menu-item{
	background-color: #d5f1ff;
	border-right: 3px solid #0078c1 !important;
}
.container-menu-superior{
	background-color: white;
	/* border-bottom: 5px solid #21376C; */
	box-shadow: 0 8px 6px -6px #ccc;
	/* padding-bottom: 0.5rem; */
	margin-bottom: 0.5rem;
}
/** Fim dos Estilos do Menu Principal da UFSM */
.border-ocre{
	border-color: #CC8F00 !important;
}
.bg-ocre{
	background-color: #CC8F00 !important;
}
.bg-info{
	background-color: #007abb !important;
}